ormconfig.json
node_modules/
dist/
.vscode/

# Configs
src/config.service.ts
test/config.*.ts

# Yarn 2 https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*